<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Mesin Turing - Hitung Huruf Vokal</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <div class="container">
        <h2>Mesin Turing - Hitung Huruf Vokal</h2>

        <input type="text" id="inputText" placeholder="Masukkan kata...">
        <button onclick="sendToPython()">Hitung Vokal</button>

        <div id="result"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
